[submodule "stapled/certvalidator"]
	path = stapled/certvalidator
	url = https://github.com/wbond/certvalidator.git
[submodule "stapled/ocspbuilder"]
	path = stapled/ocspbuilder
	url = https://github.com/wbond/ocspbuilder.git
[submodule "stapled/asn1crypto"]
	path = stapled/asn1crypto
	url = https://github.com/wbond/asn1crypto.git
[submodule "stapled/oscrypto"]
	path = stapled/oscrypto
	url = https://github.com/wbond/oscrypto.git
