[Unit]
Description=OCSPD - OCSP staple renewer
After=network.target auditd.service
ConditionPathExists=/etc/ocspd/ocspd.conf
Documentation=https://readthedocs.org/projects/ocspd/

[Install]
WantedBy=haproxy.service

[Service]
Type=simple
ExecStart=/usr/bin/ocspd
TimeoutStopSec=30s
Restart=on-failure
WorkingDirectory=/var/log/ocspd/
User=haproxy
Group=haproxy
