alabaster==0.7.10
asn1crypto==0.22.0
Babel==2.4.0
certifi==2017.7.27.1
chardet==3.0.4
CommonMark==0.7.3
ConfigArgParse==0.12.0
docutils==0.14
future==0.16.0
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
lockfile==0.12.2
MarkupSafe==1.0
ocspbuilder==0.10.2
ocspd==0.1
oscrypto==0.18.0
Pygments==2.2.0
python-daemon==2.1.2
pytz==2017.2
requests==2.18.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-argparse==0.2.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
typing==3.6.1
urllib3==1.22
