# Project deps

ConfigArgParse==0.13.0
future==0.17.1
cffi==1.11.5

## python-daemon deps
lockfile==0.12.2
docutils==0.14
python-daemon==2.2.0

# Packaging and distribution
twine==1.12.1
tqdm==4.28.1
idna==2.7
certifi==2018.10.15
chardet==3.0.4
pkginfo==1.4.2
requests==2.20.1
requests-toolbelt==0.8.0
urllib3==1.24.1
stdeb==0.8.5
wheel==0.32.3

# Docs
Sphinx==1.8.2
sphinx-argparse==0.2.5
sphinx-rtd-theme==0.4.2

# Linting
pydocstyle==3.0.0
pycodestyle==2.4.0
pylint==2.2.2

# Testing
pytest==4.0.1
