Source: ocspd
Section: python
Priority: optional
Maintainer: Greenhost <tech@greenhost.nl>
Homepage: https://github.com/greenhost/ocspd

Package: ocspd
Section: python
Priority: optional
Architecture: all
Provides: ocspd
Description: Update OCSP staples from CA's and store the result so they can be served to clients.
Depends: systemd, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3), python-daemon, python-future, python-configargparse, openssl, ssl-lib, ${shlibs:Depends}, ${misc:Depends}
