#!/usr/bin/make -f
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2003 James Troup
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

install_dir=install -d -m 755
install_file=install -m 644
install_secret=install -m 600
install_script=install -m 755
install_binary=install -m 755 -s

VERSION := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)

build:

clean:
	$(checkdir)
	-rm -f *.bak *~ */*~ debian/files* debian/*substvars

binary-indep: checkroot
	-rm -rf debian/tmp
	$(install_dir) debian/tmp/DEBIAN/
	$(install_script) debian/postinst debian/tmp/DEBIAN/
	$(install_script) debian/prerm debian/tmp/DEBIAN/
	$(install_script) debian/postrm debian/tmp/DEBIAN/

	$(install_dir) debian/tmp/usr/sbin/
	$(install_dir) debian/tmp/usr/lib/cosmos2d/
	$(install_dir) debian/tmp/usr/share/doc/cosmos2d/examples/
	$(install_dir) debian/tmp/etc/
	$(install_dir) debian/tmp/etc/init.d/
	$(install_dir) debian/tmp/etc/cosmos2d/
	$(install_dir) debian/tmp/etc/cosmos2d/gnupg/

	$(install_file) cosmos2d.conf debian/tmp/usr/share/doc/cosmos2d/examples/cosmos2d.conf
	$(install_file) cosmos-ca.crt debian/tmp/etc/cosmos2d/ca.crt

	$(install_script) cosmos2d debian/tmp/usr/sbin/cosmos2d
	$(install_script) cosmos2d.init debian/tmp/etc/init.d/cosmos2d

	$(install_secret) gnupg/pubring.gpg debian/tmp/etc/cosmos2d/gnupg/
	$(install_secret) gnupg/trustdb.gpg debian/tmp/etc/cosmos2d/gnupg/
	$(install_secret) gnupg/luserdata-symmetric-passphrase.txt debian/tmp/etc/cosmos2d/gnupg/

	find lib -type f -exec $(install_file) {} debian/tmp/usr/lib/cosmos2d/ ';'

	# set version in cosmos2d executable
	sed -i "s/DEVELOPMENT_VERSION/${VERSION}/" debian/tmp/usr/sbin/cosmos2d

	cd debian/tmp; find -type f \! -regex '.*/DEBIAN/.*' -printf '%P\0' | xargs -r0 md5sum >DEBIAN/md5sums

	dpkg-gencontrol -pcosmos2d -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-arch: checkroot build

binary: binary-indep

checkroot:
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot build
